:root {
  --md-primary-fg-color: #363793;
  --md-primary-fg-color--light: #363793;
  --md-primary-fg-color--dark: #363793;
}

.md-footer {
  background-color: #363793 !important;
}

.md-tabs__list {
  font-size: 1.2rem;
  font-weight: bold;
}

.md-tabs__list li:hover,
.md-tabs__list a:hover {
  color: #f53423;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  fill: currentcolor;
  display: block;
  height: 2.5rem;
  width: auto;
}

.md-ellipsis {
  padding-top: 0.3rem;
}

#__nav_2_1_1_label,
#__nav_2_1_3_label,
#__nav_2_1_4_label,
#__nav_2_1_2_label {
  font-weight: bold;
}

#__nav_3_1_1_label,
#__nav_3_1_4_label,
#__nav_3_1_3_label,
#__nav_3_1_2_label {
  font-weight: bold;
}

#__nav_4_1_1_label,
#__nav_4_1_2_label,
#__nav_4_1_3_label {
  font-weight: bold;
}

#__nav_5_1_1_label,
#__nav_5_1_2_label,
#__nav_5_1_3_label,
#__nav_5_1_4_label {
  font-weight: bold;
}

#__nav_6_1_1_label,
#__nav_6_1_2_label,
#__nav_6_1_3_label,
#__nav_6_1_4_label {
  font-weight: bold;
}

#__nav_7_1_1_label,
#__nav_7_1_2_label,
#__nav_7_1_3_label,
#__nav_7_1_4_label {
  font-weight: bold;
}

#__nav_5_1 {
  font-weight: bold;
}

.md-banner {
  display: none !important;
}

.mdx-hero__content {
  max-width: 21rem !important;
}
